html, body {margin: 0; padding: 0;}

body {
  background-image: url("1768894-ice-hockey-background.jpg") ;
}

.main-heading {
  background-color: #007889;
  font-size: 3em;
  font-family: Helvetica;
  color: white;
  margin: 0;
  display: block;
  text-align: center;
  border-bottom: solid 10px #F4901E;
  padding-top: 10px;
}

.paragraph {
  width: 50%;
  font-family: Arial;
  margin-left: 2%;
}

#playoff-photo {
  width: 50%;
  margin-left: 2%;
  box-shadow: 10px 10px 10px gray;
}

#caption {
font-family: Arial;
font-size: .6em;
margin-top: 10px;
margin-bottom: 20px;
margin-left: 2%;
}

#players {
background-color: #007889;
width: 35%;
border-radius: 10px;
border: 5px solid #F4901E;
font-family: Arial;
padding: 10px;
position: absolute;
right: 3%;
top: 40%;
}

#players > h1 {
  text-align: center;
  font-family: Helvetica;
  font-size: 1.7em;
  color: white;
}

nav {
  font-family: Arial;
  display: block;
  position: absolute;
  right: 18.5%;
  top: 15%;
  width: 20%;
  background-color: #007889;
  border: solid 5px #F4901E;
  border-radius: 10px;
  padding-right: 10px;
}

nav > h2 {
  text-align: center;
  font-family: Helvetica;
  color: white;
}

ul > li {
  list-style-type: square;
}

footer {
  font-family: Arial;
  font-size: .8em;
  display: block;
  width: 200px;
  margin: auto;
  margin-bottom: 10px;
}

a:link {
  color: black;
}

a:visited {
  color: #F4901E;
}

#playoff-table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  width: 60%;
  text-align: center;
  margin-top: 30px;
  font-family: Arial;
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
}

th {
  padding: 10px;
  background-color: gray;
  color: white;
  font-size: 1.5em;
}

td {
  padding: 5px;
  background-color: white;
}

@media screen and (max-width: 769px) {
  .main-heading {
    font-size: 2em;
  }

  #players {
    width: 85%;
    position: relative;
    margin-left: 5%;
    font-size: .8em;
  }

  nav {
    width: 90%;
    position:relative;
    margin-left: 20%;
    font-size: .8em;
  }

  .paragraph {
    width: 80%;
    font-size: .8em;
  }

  #playoff-photo {
    width: 75%;
  }

  footer {
    margin-top: 5px;
  }
}






